    body,
    html {
        height: 100%;
    }
    
    main {
        width: 80%;
        margin: auto;
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    .modal-bg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modal-box-confirm {
        height: 20%;
        width: 20%;
        background-color: aliceblue;
        padding-top: 10px;
        padding-right: 2rem;
        padding-bottom: 10px;
        padding-left: 2rem;
        margin-left: auto;
        margin-right: auto;
        border-color: silver;
        border-width: 2px;
        border-style: solid;
        border-radius: 24px;
    }
    
    .modal-box-add {
        height: 50%;
        width: 50%;
        background-color: aliceblue;
        padding-top: 10px;
        padding-right: 2rem;
        padding-bottom: 10px;
        padding-left: 2rem;
        margin-left: auto;
        margin-right: auto;
        border-color: silver;
        border-width: 2px;
        border-style: solid;
        border-radius: 24px;
    }
    
    .additem {
        border-color: silver;
        border-width: 2px;
        border-style: solid;
        border-radius: 24px 24px 12px 12px;
        height: 80%;
        width: 80%;
    }
    
    .modal-box {
        height: 78%;
        width: 80%;
        background-color: aliceblue;
        padding-top: 10px;
        padding-right: 2rem;
        padding-bottom: 10px;
        padding-left: 2rem;
        margin-left: auto;
        margin-right: auto;
        border-color: silver;
        border-width: 2px;
        border-style: solid;
        border-radius: 24px;
    }
    
    .box-header {
        display: grid;
        grid-template-columns: 95% 5%;
        padding-bottom: 10px;
    }
    
    .box-header-song {
        display: grid;
        grid-template-columns: 90% 5% 5%;
        grid-template-rows: 100%;
        padding-bottom: 10px;
    }
    
    .modal-grid {
        height: 90%;
        width: 100%;
        background-color: rgb(17, 120, 209);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
        /* border-color: silver;
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;*/
    }
    
    .model-item {
        height: 182px;
        width: 144px;
    }
    
    .box-Image {
        /* background-color: blue; */
        height: 144px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
        border-color: silver;
        border-width: 2px;
        border-style: solid;
    }
    
    .box-link {
        background-color: aquamarine;
        padding-top: 1px;
        padding-left: 1px;
        height: 40px;
        max-width: 100px;
        white-space: normal;
        overflow-wrap: normal;
        max-width: 100%;
        max-height: 100%;
        border-radius: 0px 0px 5px 5px;
        word-break: break-word;
        line-height: 1.25;
        font-weight: 400;
        font-size: 16px;
        vertical-align: top;
        font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
        overflow: hidden;
        letter-spacing: -0.5px;
    }
    
    #bodybground {
        /* background-image: url(./bgwhitish.jpg); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./hero.jpeg.jpg ");
        height: 19%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero-text {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-weight: 700;
        font-size: 50vmax 20vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    #sectionHead {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font: outline;
    }
    
    #links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-left: auto;
        margin-right: auto;
        gap: 15px;
    }
    
    #item {
        border-color: silver;
        border-width: 2px;
        border-style: solid;
        border-radius: 24px 24px 12px 12px;
        height: 300px;
    }
    
    #item:hover {
        background-color: #ddd;
        opacity: 80%;
        height: 101%;
        width: 101%;
    }
    
    .linkImage {
        height: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 24px 24px 0px 0px;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
    }
    
    .linkInfo {
        padding: 10px;
        height: fit-content;
        max-width: 300px;
        white-space: normal;
        overflow-wrap: normal;
        text-overflow: ellipsis;
    }
    
    @media only screen and (max-width: 600px) {
        #links {
            display: grid;
            grid-template-columns: auto;
            grid-auto-rows: auto;
            margin-left: auto;
            margin-right: auto;
            gap: 15px;
        }
    }
    
    @media only screen and (min-width: 600px) {
        #links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            margin-left: auto;
            margin-right: auto;
            gap: 15px;
        }
    }
    
    @media only screen and (min-width: 950px) {
        #links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: auto;
            margin-left: auto;
            margin-right: auto;
            gap: 15px;
        }
    }
    
    @media only screen and (min-width: 1300px) {
        #links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: auto;
            margin-left: auto;
            margin-right: auto;
            gap: 15px;
        }
    }
    
    @media only screen and (min-width: 1800px) {
        #links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-auto-rows: auto;
            margin-left: auto;
            margin-right: auto;
            gap: 15px;
        }
    }